@page "/dogs"

@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DogAdoption.Models
@inject IDbContextFactory<DogAdoption.Data.DogAdoptionContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="dogs/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DbFactory.CreateDbContext().Dog">
    <PropertyColumn Property="dog => dog.Breed" />
    <PropertyColumn Property="dog => dog.age" />
    <PropertyColumn Property="dog => dog.ImageUrl" />
    <PropertyColumn Property="dog => dog.Description" />
    <PropertyColumn Property="dog => dog.HealthStatus" />
    <PropertyColumn Property="dog => dog.Temperament" />

    <TemplateColumn Context="dog">
        <a href="@($"dogs/edit?id={dog.Id}")">Edit</a> |
        <a href="@($"dogs/details?id={dog.Id}")">Details</a> |
        <a href="@($"dogs/delete?id={dog.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
